/*!
 * All styles for site
 */
@font-face {
  font-family: "OpenSans-Light";
  font-style: "normal";
  font-weight: "100";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "OpenSans-Bold";
  font-style: "normal";
  font-weight: "700";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "Glyphicons Halflings";
  font-style: "normal";
  font-weight: "300";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#Glyphicons Halflings") format("svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "Font Awesome";
  font-style: "normal";
  font-weight: "300";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#Font Awesome") format("svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*!
 * Body content
 */
body {
  color: #274869;
  font-family: "OpenSans-Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: #fff;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #274869;
  font-family: "OpenSans-Bold";
  margin-bottom: 40px; }

h1 {
  font-size: 50px;
  line-height: 74px; }

h2 {
  font-size: 48px;
  line-height: 56px; }

h3 {
  font-size: 40px;
  line-height: 50px; }

h4 {
  font-size: 28px;
  line-height: 34px; }

/* error if tags without attr */
/* error if first child not used  */
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #ffa800; }
  a:hover {
    text-decoration: none; }

button {
  border-radius: 10px !important;
  border: none !important;
  transition: all .5s; }
  button:hover {
    opacity: .8; }

.corner-1 {
  position: absolute;
  width: 100%;
  height: 93px;
  background: url("../images/corner-1.png") bottom center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: -92px;
  left: 0;
  z-index: 0; }

.corner-2 {
  position: absolute;
  width: 100%;
  height: 93px;
  background: url("../images/corner-2.png") top center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: -92px;
  left: 0;
  z-index: 0; }

input:focus, textarea, a, button {
  outline: none !important; }

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
  height: 0; }

.clearfix:after {
  clear: both; }

#back-to-top {
  color: #fff;
  width: 50px;
  height: 50px;
  background-color: #4699ec;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  position: fixed;
  right: 20px;
  bottom: 50px;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 999; }
  #back-to-top:hover {
    background: #4699ec;
    text-decoration: none; }

.panel {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 50%; }
  .panel .btn-label {
    position: relative;
    left: -15px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15); }
  .panel .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    margin-right: 10px; }

.corner {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .corner::before {
    margin: 0 auto;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 50px 550px 0 550px;
    border-color: #fff transparent transparent transparent;
    line-height: 0;
    _border-color: #ffffff #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }

/*!
 * Header content
 */
header,
.header {
  width: 100%; }
  header .menu,
  .header .menu {
    height: 120px;
    /* Change the size of the hamburger menu from 768px to 1100px */ }
    header .menu .navbar-default,
    header .menu .navbar-default .navbar-collapse,
    header .menu .navbar-default .navbar-form,
    .header .menu .navbar-default,
    .header .menu .navbar-default .navbar-collapse,
    .header .menu .navbar-default .navbar-form {
      background-color: #fff;
      border-color: transparent; }
    header .menu .navbar-default .navbar-nav > li > a,
    .header .menu .navbar-default .navbar-nav > li > a {
      color: #263746; }
    header .menu .navbar-toggle,
    .header .menu .navbar-toggle {
      padding: 14px;
      margin-top: 34px; }
    header .menu .navbar-brand,
    .header .menu .navbar-brand {
      float: left;
      height: 100%;
      padding: 0; }
    header .menu .navbar-nav,
    .header .menu .navbar-nav {
      margin-top: 36px;
      font-size: 19px; }
    header .menu .navbar-default .navbar-nav > .active > a,
    header .menu.navbar-default .navbar-nav > .active > a:focus,
    header .menu .navbar-default .navbar-nav > .active > a:hover,
    .header .menu .navbar-default .navbar-nav > .active > a,
    .header .menu.navbar-default .navbar-nav > .active > a:focus,
    .header .menu .navbar-default .navbar-nav > .active > a:hover {
      color: #fff;
      background-color: #4699ec;
      font-size: 14px; }
    header .menu .nav > li > a,
    .header .menu .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 30px;
      text-transform: uppercase; }
    header .menu .nav.social,
    .header .menu .nav.social {
      margin-right: 30px; }
      header .menu .nav.social > li > a,
      .header .menu .nav.social > li > a {
        padding: 10px 5px; }
        header .menu .nav.social > li > a:hover :before,
        .header .menu .nav.social > li > a:hover :before {
          transition: all .5s;
          opacity: .8; }
    header .menu .fa,
    .header .menu .fa {
      display: inline-block; }
      header .menu .fa:before,
      .header .menu .fa:before {
        font-size: 40px;
        line-height: 21px;
        color: #4699ec; }
    @media (max-width: 1000px) {
      header .menu .navbar-header,
      .header .menu .navbar-header {
        float: none; }
      header .menu .navbar-toggle,
      .header .menu .navbar-toggle {
        display: block; }
      header .menu .navbar-collapse,
      .header .menu .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        z-index: 9;
        top: 115px;
        right: 0;
        position: absolute;
        padding: 0 40px 20px 55px; }
      header .menu .navbar-collapse.collapse,
      .header .menu .navbar-collapse.collapse {
        display: none !important; }
      header .menu .navbar-nav,
      .header .menu .navbar-nav {
        float: none !important;
        margin: 7.5px -15px; }
      header .menu .navbar-nav > li,
      .header .menu .navbar-nav > li {
        float: none; }
      header .menu .navbar-nav > li > a,
      .header .menu .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; }
      header .menu .navbar-text,
      .header .menu .navbar-text {
        float: none;
        margin: 15px 0; }
      header .menu .navbar-collapse.collapse.in,
      .header .menu .navbar-collapse.collapse.in {
        display: block !important;
        padding: 0 40px 20px 55px; }
      header .menu .collapsing,
      .header .menu .collapsing {
        overflow: hidden !important; }
      header .menu .nav.navbar-right,
      .header .menu .nav.navbar-right {
        margin-right: 0; }
      header .menu .nav.social li,
      .header .menu .nav.social li {
        padding-top: 10px;
        float: left; } }
  header .parallax,
  .header .parallax {
    border-top: 6px solid #4699ec;
    min-height: 650px;
    z-index: 0;
    position: relative;
    width: 100%; }
    header .parallax.bg,
    .header .parallax.bg {
      background-attachment: scroll; }
    header .parallax.background-picture,
    .header .parallax.background-picture {
      background-image: url("../images/bg-header.jpg");
      background-position: 50% 0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed; }
    header .parallax .logo-big,
    .header .parallax .logo-big {
      position: absolute;
      width: 100%;
      max-width: 544px;
      height: auto;
      display: block;
      left: 0;
      right: 0;
      top: 50px;
      margin: 0 auto;
      padding: 0 20px;
      z-index: -1; }
      header .parallax .logo-big img,
      .header .parallax .logo-big img {
        opacity: 1; }
      header .parallax .logo-big .title,
      .header .parallax .logo-big .title {
        color: #fff;
        font-size: 78px;
        font-weight: 300;
        line-height: 96px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px; }
        @media screen and (max-width: 768px) {
          header .parallax .logo-big .title,
          .header .parallax .logo-big .title {
            font-size: 72px;
            line-height: 80px; } }
        @media screen and (max-width: 540px) {
          header .parallax .logo-big .title,
          .header .parallax .logo-big .title {
            font-size: 56px;
            line-height: 72px; } }
      header .parallax .logo-big button,
      .header .parallax .logo-big button {
        font-family: "OpenSans-Bold";
        font-size: 26px;
        font-weight: 700;
        line-height: 59px;
        padding: 0 30px;
        text-transform: uppercase;
        background-color: #ffa800;
        z-index: 10; }
        @media screen and (min-width: 481px) and (max-width: 540px) {
          header .parallax .logo-big button,
          .header .parallax .logo-big button {
            font-size: 22px; } }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          header .parallax .logo-big button,
          .header .parallax .logo-big button {
            font-size: 14px; } }

/*!
 * Main content
 */
main,
.main {
  width: 100%; }
  main [class^="col-"]:not([class*="offset"]),
  .main [class^="col-"]:not([class*="offset"]) {
    margin-bottom: 20px; }
  main section.info,
  .main section.info {
    position: relative; }
    main section.info h1,
    .main section.info h1 {
      margin-top: 100px;
      margin-bottom: 40px;
      font-family: "OpenSans-Light";
      font-weight: 500; }
      main section.info h1 b,
      .main section.info h1 b {
        font-family: "OpenSans-Bold";
        font-weight: 700; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      main section.info .animated-headline,
      .main section.info .animated-headline {
        font-size: 42px; } }
    main section.info .animated-headline span:not(.animated-headline__words),
    .main section.info .animated-headline span:not(.animated-headline__words) {
      display: inline;
      padding: 0; }
      @media screen and (min-width: 768px) {
        main section.info .animated-headline span:not(.animated-headline__words),
        .main section.info .animated-headline span:not(.animated-headline__words) {
          display: inline-block; } }
      @media screen and (min-width: 768px) {
        main section.info .animated-headline span:not(.animated-headline__words):first-child,
        .main section.info .animated-headline span:not(.animated-headline__words):first-child {
          margin: 0 3px 0 0; } }
    main section.info .animated-headline__words,
    .main section.info .animated-headline__words {
      overflow: hidden;
      position: relative;
      transition: width .3s;
      vertical-align: middle;
      width: auto;
      margin: 0; }
      @media screen and (min-width: 768px) {
        main section.info .animated-headline__words,
        .main section.info .animated-headline__words {
          display: inline-block; } }
      main section.info .animated-headline__words:after,
      .main section.info .animated-headline__words:after {
        background: #4699ec;
        background: linear-gradient(to left right, #4699ec, #c8e2f8);
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        z-index: 2;
        transition: width .3s -.1s; }
      main section.info .animated-headline__words.is-loading:after,
      .main section.info .animated-headline__words.is-loading:after {
        width: 100%;
        transition: width 3s; }
      main section.info .animated-headline__words b,
      .main section.info .animated-headline__words b {
        left: 0;
        opacity: 0;
        position: absolute;
        top: .2em;
        white-space: nowrap; }
        main section.info .animated-headline__words b.is-showing,
        .main section.info .animated-headline__words b.is-showing {
          opacity: 1;
          position: relative;
          top: -6px; }
          main section.info .animated-headline__words b.is-showing:not(.show-on-load),
          .main section.info .animated-headline__words b.is-showing:not(.show-on-load) {
            animation: slide-in .6s; }
        main section.info .animated-headline__words b.is-hiding:not(.hide-on-load),
        .main section.info .animated-headline__words b.is-hiding:not(.hide-on-load) {
          animation: slide-out .6s; }
    main section.info p,
    .main section.info p {
      font-size: 33px;
      font-weight: 400;
      line-height: 45px; }
    main section.info button,
    main section.info a[type="button"].btn,
    .main section.info button,
    .main section.info a[type="button"].btn {
      font-family: "OpenSans-Bold";
      font-size: 22px;
      padding: 10px 35px;
      margin: 10px;
      background: #4699ec;
      border: 1px solid #c8e2f8 !important;
      border-radius: 10px; }
      main section.info button.btn-default,
      main section.info a[type="button"].btn.btn-default,
      .main section.info button.btn-default,
      .main section.info a[type="button"].btn.btn-default {
        border: 1px solid #c8e2f8 !important;
        background: #fff;
        color: #4699ec; }
  main section.featured,
  .main section.featured {
    color: #fff; }
    main section.featured.parallax,
    .main section.featured.parallax {
      min-height: 600px;
      width: 100%;
      position: relative;
      padding-top: 50px;
      padding-bottom: 50px;
      z-index: 0; }
      main section.featured.parallax.bg,
      .main section.featured.parallax.bg {
        background-attachment: scroll; }
      main section.featured.parallax.background-picture,
      .main section.featured.parallax.background-picture {
        background-image: url("../images/bg-featured.jpg");
        background-position: 50% 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed; }
    main section.featured h1,
    .main section.featured h1 {
      margin-top: 130px;
      color: #fff;
      font-weight: 700; }
    main section.featured strong,
    .main section.featured strong {
      font-size: 1.1em;
      font-weight: bold; }
  main section.price,
  .main section.price {
    position: relative; }
    main section.price .margin-bottom-0,
    .main section.price .margin-bottom-0 {
      margin-bottom: -20px; }
    main section.price h1,
    .main section.price h1 {
      margin-top: 80px;
      font-weight: 700;
      font-family: "OpenSans-Bold"; }
    main section.price h3,
    .main section.price h3 {
      font-family: "OpenSans-Bold";
      font-size: 30px;
      line-height: 45px;
      margin-top: 0; }
    main section.price h5,
    .main section.price h5 {
      font-family: "OpenSans-Light";
      font-weight: 700;
      color: #4699ec;
      text-transform: inherit;
      text-align: center; }
    main section.price p,
    .main section.price p {
      font-size: 30px;
      line-height: 45px; }
    main section.price .custom,
    .main section.price .custom {
      margin-bottom: 40px;
      padding-top: 20px;
      font-size: 24px; }
      main section.price .custom [class^="col-"],
      .main section.price .custom [class^="col-"] {
        padding: 0; }
      main section.price .custom a.hover,
      .main section.price .custom a.hover {
        display: block; }
        main section.price .custom a.hover:hover,
        .main section.price .custom a.hover:hover {
          border: 1px solid #9c9c9c;
          border-top: 0; }
      main section.price .custom .title,
      .main section.price .custom .title {
        height: 70px;
        display: table;
        width: 100%; }
        main section.price .custom .title h5,
        .main section.price .custom .title h5 {
          color: #fff;
          font-size: 15px;
          line-height: 22px;
          display: table-cell;
          vertical-align: middle; }
        main section.price .custom .title.shared,
        .main section.price .custom .title.shared {
          background: #4699ec;
          text-align: center; }
        main section.price .custom .title.dedicate,
        .main section.price .custom .title.dedicate {
          background: #01ca6a;
          padding-left: 5px; }
      main section.price .custom .s-desc h6,
      .main section.price .custom .s-desc h6 {
        font-size: 20px;
        font-family: "OpenSans-Light";
        font-weight: 500;
        height: 60px;
        margin: 0;
        display: table;
        width: 100%; }
        main section.price .custom .s-desc h6 span,
        .main section.price .custom .s-desc h6 span {
          display: table-cell;
          vertical-align: middle; }
        main section.price .custom .s-desc h6 .glyphicon:before,
        .main section.price .custom .s-desc h6 .glyphicon:before {
          font-size: 30px;
          color: #4699ec;
          font-weight: 100; }
      main section.price .custom button,
      .main section.price .custom button {
        margin-top: 30px;
        background: #4699ec;
        font-family: "OpenSans-Bold";
        padding: 20px 80px;
        font-size: 24px; }
      main section.price .custom .table > tbody > tr > td,
      main section.price .custom .table > thead > tr > th,
      .main section.price .custom .table > tbody > tr > td,
      .main section.price .custom .table > thead > tr > th {
        border: none;
        padding: 10px 0;
        font-size: 18px; }
        main section.price .custom .table > tbody > tr > td .glyphicon,
        main section.price .custom .table > thead > tr > th .glyphicon,
        .main section.price .custom .table > tbody > tr > td .glyphicon,
        .main section.price .custom .table > thead > tr > th .glyphicon {
          color: #4699ec; }
      main section.price .custom .text-right,
      .main section.price .custom .text-right {
        font-family: "OpenSans-Bold";
        font-weight: 500; }
      main section.price .custom .custom-price,
      .main section.price .custom .custom-price {
        width: 100%;
        height: 10px;
        background: #4699ec;
        border-radius: 4px; }
      main section.price .custom .contact,
      .main section.price .custom .contact {
        font-size: 24px;
        line-height: 30px; }
        main section.price .custom .contact b,
        .main section.price .custom .contact b {
          font-family: "OpenSans-Bold";
          color: #274869; }
    main section.price b,
    .main section.price b {
      font-weight: 900;
      color: #4699ec; }
    main section.price a,
    .main section.price a {
      font-family: "OpenSans-Bold";
      font-size: 28px;
      line-height: 38px;
      color: #4699ec; }
  main section.testimonials,
  .main section.testimonials {
    color: #fff; }
    main section.testimonials.parallax,
    .main section.testimonials.parallax {
      min-height: 940px;
      width: 100%;
      background: transparent;
      position: relative;
      padding-top: 50px;
      z-index: 0; }
      main section.testimonials.parallax.bg,
      .main section.testimonials.parallax.bg {
        background-attachment: scroll; }
      main section.testimonials.parallax.background-picture,
      .main section.testimonials.parallax.background-picture {
        background-image: url("../images/bg-testimonials.jpg");
        background-position: 50% 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed; }
    main section.testimonials .zmin,
    .main section.testimonials .zmin {
      z-index: 1; }
    main section.testimonials .rel,
    .main section.testimonials .rel {
      position: relative; }
    main section.testimonials .jcarousel-wrapper,
    .main section.testimonials .jcarousel-wrapper {
      margin: 20px auto;
      position: relative; }
      main section.testimonials .jcarousel-wrapper .jcarousel-control-prev,
      main section.testimonials .jcarousel-wrapper .jcarousel-control-next,
      .main section.testimonials .jcarousel-wrapper .jcarousel-control-prev,
      .main section.testimonials .jcarousel-wrapper .jcarousel-control-next {
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 32px;
        height: 59px; }
      main section.testimonials .jcarousel-wrapper .jcarousel-control-prev,
      .main section.testimonials .jcarousel-wrapper .jcarousel-control-prev {
        background: url("../images/arrow-left.png");
        left: 5px; }
      main section.testimonials .jcarousel-wrapper .jcarousel-control-next,
      .main section.testimonials .jcarousel-wrapper .jcarousel-control-next {
        background: url("../images/arrow-right.png");
        right: 5px; }
      main section.testimonials .jcarousel-wrapper .jcarousel-pagination,
      .main section.testimonials .jcarousel-wrapper .jcarousel-pagination {
        position: absolute;
        bottom: -40px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        margin: 0; }
        main section.testimonials .jcarousel-wrapper .jcarousel-pagination a,
        .main section.testimonials .jcarousel-wrapper .jcarousel-pagination a {
          text-decoration: none;
          display: inline-block;
          height: 18px;
          width: 18px;
          line-height: 10px;
          background: #fff;
          border-radius: 50%;
          text-indent: -9999px;
          margin-right: 7px;
          opacity: .25; }
          main section.testimonials .jcarousel-wrapper .jcarousel-pagination a.active,
          .main section.testimonials .jcarousel-wrapper .jcarousel-pagination a.active {
            background: #4699ec;
            opacity: 1; }
      main section.testimonials .jcarousel-wrapper .jcarousel,
      .main section.testimonials .jcarousel-wrapper .jcarousel {
        position: relative;
        overflow: hidden;
        width: 100%; }
        main section.testimonials .jcarousel-wrapper .jcarousel ul,
        .main section.testimonials .jcarousel-wrapper .jcarousel ul {
          width: 20000em;
          position: relative;
          list-style: none;
          margin: 0;
          padding: 0; }
          main section.testimonials .jcarousel-wrapper .jcarousel ul li,
          .main section.testimonials .jcarousel-wrapper .jcarousel ul li {
            float: left;
            width: 200px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-right: 60px;
            padding-left: 60px; }
            main section.testimonials .jcarousel-wrapper .jcarousel ul li .photo,
            .main section.testimonials .jcarousel-wrapper .jcarousel ul li .photo {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              display: block;
              margin: 0 auto 30px;
              background: #9c9c9c; }
            main section.testimonials .jcarousel-wrapper .jcarousel ul li h4,
            .main section.testimonials .jcarousel-wrapper .jcarousel ul li h4 {
              font-family: "OpenSans-Light";
              font-size: 36px;
              text-transform: uppercase;
              color: #fff; }
            main section.testimonials .jcarousel-wrapper .jcarousel ul li p,
            .main section.testimonials .jcarousel-wrapper .jcarousel ul li p {
              font-size: 18px;
              line-height: 26px; }
              @media screen and (min-width: 320px) and (max-width: 768px) {
                main section.testimonials .jcarousel-wrapper .jcarousel ul li p,
                .main section.testimonials .jcarousel-wrapper .jcarousel ul li p {
                  font-size: 15px;
                  line-height: 22px; } }
            main section.testimonials .jcarousel-wrapper .jcarousel ul li .testimonials-stars,
            .main section.testimonials .jcarousel-wrapper .jcarousel ul li .testimonials-stars {
              margin: -20px auto 10px;
              text-align: center; }
              main section.testimonials .jcarousel-wrapper .jcarousel ul li .testimonials-stars img,
              .main section.testimonials .jcarousel-wrapper .jcarousel ul li .testimonials-stars img {
                display: inline-block;
                max-width: 100%;
                height: auto !important; }
    main section.testimonials h1,
    .main section.testimonials h1 {
      margin-top: 100px;
      font-weight: 700;
      font-family: "OpenSans-Bold";
      color: #fff; }
  main section.faq,
  .main section.faq {
    position: relative; }
    main section.faq h1,
    .main section.faq h1 {
      margin-top: 80px;
      font-weight: 700;
      font-family: "OpenSans-Bold"; }
    main section.faq p,
    .main section.faq p {
      font-size: 24px;
      line-height: 30px; }
      main section.faq p b,
      .main section.faq p b {
        font-weight: 700; }
    main section.faq .faq,
    .main section.faq .faq {
      list-style: none;
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 80px; }
      main section.faq .faq .fa:before,
      .main section.faq .faq .fa:before {
        color: #4699ec;
        font-size: 40px;
        vertical-align: sub; }
      main section.faq .faq .question,
      .main section.faq .faq .question {
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 10px; }
      main section.faq .faq .answer,
      .main section.faq .faq .answer {
        padding-left: 40px;
        margin-bottom: 30px;
        display: none; }
        main section.faq .faq .answer span,
        .main section.faq .faq .answer span {
          display: block;
          padding-top: 10px;
          color: #000; }
          main section.faq .faq .answer span a,
          .main section.faq .faq .answer span a {
            color: #4699ec; }
            main section.faq .faq .answer span a:hover,
            .main section.faq .faq .answer span a:hover {
              text-decoration: none;
              border-bottom: 1px dotted #4699ec; }

@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll; } }

/*!
 * Footer content
 */
footer,
.footer {
  background-color: #161616;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #9c9c9c; }
  footer .btn-warning,
  .footer .btn-warning {
    padding: 10px 12px;
    font-size: 20px; }
  footer .row,
  .footer .row {
    padding: 10px 0; }
  footer .footer-info,
  .footer .footer-info {
    position: relative;
    padding-left: 70px; }
    footer .footer-info img,
    .footer .footer-info img {
      position: absolute;
      left: 10px;
      top: 0; }
    footer .footer-info h4,
    .footer .footer-info h4 {
      color: #9c9c9c;
      font-size: 18px;
      margin: 0; }
      footer .footer-info h4 ~ p a,
      .footer .footer-info h4 ~ p a {
        color: #9c9c9c; }
        footer .footer-info h4 ~ p a:hover,
        .footer .footer-info h4 ~ p a:hover {
          color: #ffa800; }
  footer .align,
  .footer .align {
    text-align: right; }
    @media screen and (max-width: 991px) {
      footer .align,
      .footer .align {
        text-align: left;
        padding-left: 70px; } }
    @media screen and (max-width: 767px) {
      footer .align,
      .footer .align {
        text-align: center;
        padding-left: 0; } }
  footer a,
  .footer a {
    color: #ffa800;
    text-decoration: none; }
    footer a:hover,
    .footer a:hover {
      border-bottom: 1px dotted #ffa800; }
  footer button,
  .footer button {
    background-color: #ffa800;
    margin-top: 10px; }
