<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="MARKETERO">

    <title>MARKETARO.COM</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection"/>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/css3-mediaqueries.min.js"></script>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('main');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <![endif]-->

    <!--build:css css/admin.min.css-->
    <link rel="stylesheet" href="css/members.css">
    <!--endbuild-->

</head>

<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-1">
                        <span class="sidebar-icon"><i class="profile"><img src="http://lorempixel.com/40/40/"
                                                                           alt=""></i></span>
                        <span class="sidebar-title">Alex Mardician</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="submenu-1" class="panel-collapse collapse panel-switch" role="menu">
                        <li><a href="#"><span>Account Details</span></a></li>
                        <li><a href="#"><span>Setup Guide</span></a></li>
                        <li><a href="#"><span>Sign Out</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="dashboard"></i></span>
                        <span class="sidebar-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                        <span class="sidebar-icon"><i class="campaigns"></i></span>
                        <span class="sidebar-title">Campaigns</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                        <li><a href="#"><span>Contacts</span></a></li>
                        <li><a href="#"><span>Fields</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-4">
                        <span class="sidebar-icon"><i class="lists"></i></span>
                        <span class="sidebar-title">Lists</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="submenu-4" class="panel-collapse collapse panel-switch" role="menu">
                        <li><a href="#"><span>Templates</span></a></li>
                        <li><a href="#"><span>Senders</span></a></li>
                        <li><a href="#"><span>Notifications</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-5">
                        <span class="sidebar-icon"><i class="templates"></i></span>
                        <span class="sidebar-title">Templates</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="submenu-5" class="panel-collapse collapse panel-switch" role="menu">
                        <li><a href="#"><span>Transactional</span></a></li>
                        <li><a href="#"><span>Marketing</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-6">
                        <span class="sidebar-icon"><i class="stats"></i></span>
                        <span class="sidebar-title">Stats</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="submenu-6" class="panel-collapse collapse panel-switch" role="menu">
                        <li><a href="#"><span>Global Stats</span></a></li>
                        <li><a href="#"><span>Category Stats</span></a></li>
                        <li><a href="#"><span>Geographical</span></a></li>
                        <li><a href="#"><span>Browser Stats</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="support"></i></span>
                        <span class="sidebar-title">Support</span>
                    </a>
                </li>
                <li class="active">
                    <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-8">
                        <span class="sidebar-icon"><i class="settings"></i></span>
                        <span class="sidebar-title">Settings</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="submenu-8" class="panel-collapse collapse panel-switch" role="menu">
                        <li><a href="#"><span>Account Details</span></a></li>
                        <li><a href="#"><span>Alert Settings</span></a></li>
                        <li><a href="#"><span>Api Keys</span></a></li>
                        <li><a href="#"><span>Mail Settings</span></a></li>
                        <li><a href="#"><span>Two-Factor Authentication</span></a></li>
                    </ul>
                </li>
                <li class="hidden-sm hidden-xs">
                    <div class="navbar-stats">
                        <div class="meter-container">
                            <span class="meter-title">Reputation</span>
                            <span class="meter-value" role="reputation">100%</span>
                            <span>
          <i class="meter-icon sg-icon sg-icon-info-circle input-info-icon"
             style="position: relative; top: 2px; cursor: pointer"></i>
        </span>
                            <div class="meter-bar">
                                <div class="meter-bar-fill is-above-50" role="reputation-progress-bar"
                                     style="width: 100%;"></div>
                            </div>
                        </div>

                        <div class="meter-container" data-role="emails-remaining">
        <span class="meter-title">
          Emails Remaining
        </span>
                            <br>
                            <span class="meter-value" role="credits-fraction">100 / 100 per day</span>
                            <span>
          <i class="meter-icon sg-icon sg-icon-info-circle input-info-icon"
             style="position: relative; top: 2px; cursor: pointer"></i>
        </span>
                            <div class="meter-bar">
                                <div class="meter-bar-fill is-above-50" role="credits-progress-bar"></div>
                            </div>
                        </div>

                        <div class="meter-container">
                            <span class="meter-title">Emails sent today </span>
                            <span class="emails-sent-today" role="emails-sent-today">0</span>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>
    </div>
    <main class="page-content" role="main">
        <div class="settings header">
            <div class="col-sm-12"><h1>Settings - Tracking</h1></div>
            <table class="table table-hover tracking">
                <thead>
                <tr>
                    <th>State</th>
                    <th>Setting</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
            </table>
            <div class="verify">
                <ul class="step">
                    <li class="question paragraph">
                        <table class="table table-hover tracking">
                            <tr>
                                <td><i class="inactive"></i> Inactive</td>
                                <td>Click Tracking</td>
                                <td>Overwrites every link to track every click in emails.</td>
                                <td class="text-right">
                                    <i class="caret"></i>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="answer">
                        <div class="block">
                            <div class="col-sm-2">
                                <div class="btn-group btn-toggle">
                                    <button class="btn btn-default">ON</button>
                                    <button class="btn btn-default active">OFF</button>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <p>Overwrites every link to track clicks in e-mails.</p>
                                <input id="plan-2" type="checkbox" name="plan-2" checked=""> <label for="plan-2"><span>Using Marketing Campaigns</span></label>
                            </div>
                        </div>
                    </li>
                    <li class="question paragraph">
                        <table class="table table-hover tracking">
                            <tr>
                                <td><i class="active"></i> Active</td>
                                <td>Google Analytics</td>
                                <td>Track your conversion rates and ROI with Google Analytics.</td>
                                <td class="text-right">
                                    <i class="caret"></i>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="answer">
                        <div class="block">
                            <div class="col-sm-2">
                                <div class="btn-group btn-toggle">
                                    <button class="btn btn-default active">ON</button>
                                    <button class="btn btn-default">OFF</button>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <p>You will may add the info through the input field.</p>
                                <input id="input-field" type="text" name="input-field">
                                <a href=""><span class="add">Add</span></a>
                                <div id="content-field" style="margin-top: 30px;">
                                    <p>Campaign source | <a href=""><span class="remove">Remove</span></a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="question paragraph">
                        <table class="table table-hover tracking">
                            <tr>
                                <td><i class="inactive"></i> Inactive</td>
                                <td>Open Tracking</td>
                                <td>Appends an invisible image to HTML emails to track emails that have been opened.</td>
                                <td class="text-right">
                                    <i class="caret"></i>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="answer">
                        <div class="block">
                            <div class="col-sm-2">
                                <div class="btn-group btn-toggle">
                                    <button class="btn btn-default">ON</button>
                                    <button class="btn btn-default active">OFF</button>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <p>Tern On to enable open tracking.</p>
                            </div>
                        </div>
                    </li>
                    <li class="question paragraph">
                        <table class="table table-hover tracking">
                            <tr>
                                <td><i class="active"></i> Active</td>
                                <td>Subscription Tracking</td>
                                <td>Adds unsubscribe links to the bottom of the text and HTML emails. Future emails won't be delivered to unsubscribed users.</td>
                                <td class="text-right">
                                    <i class="caret"></i>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="answer">
                        <div class="block">
                            <div class="col-sm-2">
                                <div class="btn-group btn-toggle">
                                    <button class="btn btn-default active">ON</button>
                                    <button class="btn btn-default">OFF</button>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <p>If you would like to place the unsubscribe text somewhere else in the email content, you can do so by placing an unsubscribe tag. You would need to define this tag here. If no tag is found, we will simply place the unsubscribe information at the bottom of the email.</p>
                                <h3>REPLACEMENT TAG</h3>
                                <h4>UNSUBSCRIBE CONTENT - HTML BODY</h4>
                                <p>Please define what you would like your unsubscribe message (HTML version) to look like. You must include a <% %> tag to place the unsubscribe link.</p>
                                <div id="tinamce"></div>
                                <h4>UNSUBSCRIBE CONTENT - TEXT BODY</h4>
                                <p>Please define what you would like your unsubscribe message (text version) to look like. You must include a <% %> tag to place the unsubscribe link.</p>
                                <div id="content_preview"></div>
                                <h3>CUSTOM LANDING PAGE URL</h3>
                                <p>If you have your own landing page prepared, you can have us redirect the user there. Must be a valid URL.</p>
                                <h4>SENDGRID LANDING PAGE - HTML BODY</h4>
                                <p>Have SendGrid create a landing page for you.</p>
                                <div id="tinamce"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="copyright text-center"><b>Need help setting this up?</b> <a href="">Invite a coworker</a> to
                help you, or explore our
                <a href="">expert services</a>.
            </div>
        </div>
    </main>
</div>


<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--build:js js/main.min.js -->
<script src="js/script.js"></script>
<!-- endbuild -->

</body>

</html>
